@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300..800&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Manrope', sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffa500 #333333;
}

.bg-dark-border {
  background-color: #222222;
}

.border-dot-r {
  border: 0;
  background-image: repeating-linear-gradient(to bottom, #858585 0, #858585 3px, transparent 0px, transparent 8px); /* right */
  background-size: 1px 100%;
  background-repeat: repeat-y;
  background-position: top right;
}

.border-dot-b {
  border: 0;
  background-image: repeating-linear-gradient(to right, #858585 0, #858585 3px, transparent 0px, transparent 8px); /* bottom */
  background-size: 100% 1px;
  background-repeat: repeat-x;
  background-position: bottom left;
}
.border-dot {
  border: 0;
  background-image:
    repeating-linear-gradient(to right, #858585 0, #858585 3px, transparent 0px, transparent 8px), /* top */
    repeating-linear-gradient(to right, #858585 0, #858585 3px, transparent 0px, transparent 8px), /* bottom */
    repeating-linear-gradient(to bottom, #858585 0, #858585 3px, transparent 0px, transparent 8px), /* left */
    repeating-linear-gradient(to bottom, #858585 0, #858585 3px, transparent 0px, transparent 8px); /* right */
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
  background-position: top left, bottom left, top left, top right;
}


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.snake {
  position: relative; 
  z-index: 1;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.snake::after, .snake::before {
  content: '';
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 100%;
  height: 100%;
  background-image: conic-gradient(from var(--angle), transparent, #ffa500 50%, transparent 50%, #ffa500);
  z-index: -1; 
  animation: 3s snake-spin linear infinite;
  will-change: transform, background-image, --angle;
}

.snake::before {
  filter: blur(0.6rem);
}

@keyframes snake-spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}


@keyframes blinks {
  0% {
    background-color: #128d3f;
  }
  50% {
    background-color: #12ff69;
  }
  100% {
    background-color: #128d3f;
  }
}

.animate-blink {
  animation: blinks 1s infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0) rotate(-2deg);
  }
  50% {
    transform: translateY(-18px) rotate(4deg);
  }
  100% {
    transform: translateY(0) rotate(-2deg);
  }
}

.float-anim {
  animation: floatAnimation 4s ease-in-out infinite;
}

