@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'DM Sans', sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Mengubah warna background scrollbar */
::-webkit-scrollbar {
  background-color: #686868;
  width: 4px;
  height: 4px;
}

/* Mengubah warna thumb (bagian yang dapat digerakkan) scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #5454FF;
  width: 4px;
  height: 4px;
}


/* Mengubah ukuran scrollbar track (area yang tidak dapat digerakkan) */
::-webkit-scrollbar-track {
  background-color: #111111;
  width: 4px;
  height: 4px;
}
.bg-dark-border {
  background-color: #222222;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes snake-border {
  0% {
    border-top-color: #79afff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    box-shadow: 0 -8px 10px rgba(121, 175, 255, 0.3); /* Shadow on top border */
  }
  25% {
    border-top-color: transparent;
    border-right-color: #79afff;
    border-bottom-color: transparent;
    border-left-color: transparent;
    box-shadow: 8px 0 10px rgba(121, 175, 255, 0.3); /* Shadow on right border */
  }
  50% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #79afff;
    border-left-color: transparent;
    box-shadow: 0 8px 10px rgba(121, 175, 255, 0.3); /* Shadow on bottom border */
  }
  75% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #79afff;
    box-shadow: -8px 0 10px rgba(121, 175, 255, 0.3); /* Shadow on left border */
  }
  100% {
    border-top-color: #79afff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    box-shadow: 0 -8px 10px rgba(121, 175, 255, 0.3); /* Shadow on top border */
  }
}

.button-snake-border {
  position: relative;
  border: 2px solid transparent;
  animation: snake-border 3.5s linear infinite;
}

.snake {
  position: relative;  /* Menjaga agar snake memiliki konteks stacking */
  z-index: 1;          /* Mengatur box hitam agar berada di depan */
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.snake::after, .snake::before {
  content: '';
  position: absolute;  /* Memastikan kotak merah menggunakan absolute positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* Memastikan box merah tetap di tengah */
  width: 100%;
  height: 100%;
  background-image: conic-gradient(from var(--angle), transparent, orange 50%, transparent 50%, orange);
  border-radius: 14px;
  z-index: -1;  /* Mengatur kotak merah agar berada di belakang */
  animation: 3s spin linear infinite;
}

.snake::before {
  filter: blur(1rem);
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}



/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
